/*extra-Small devices (portrait phones, less than 576p*/
@media (max-width: 575.98px) {
	.container{
	width: 100%;

}
	.img_item{
	width: 100%;
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.container{
	width: 540px;
}
	.img_item{
	width: 50%;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.container{
	width: 720px;

}
	.img_item{
	width: 50%;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*extra-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.container{
	width: 1140px;
}
}

/*extra-extra-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.container{
	width: 1320px;

}
}